:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;

  --muted: 0 0% 92%;
  --muted-foreground: 0 0% 50%;

  --popover: var(--muted);
  --popover-foreground: var(--foreground);

  --primary: var(--foreground);
  --primary-foreground: var(--background);

  --secondary: var(--muted);
  --secondary-foreground: var(--muted-foreground);

  --brand: 273 100% 50%;
  --brand-foreground: var(--background);

  --accent: var(--brand);
  --accent-foreground: var(--brand-foreground);

  --border: var(--muted);
  --ring: var(--brand);

  --input: var(--muted);
  --input-foreground: var(--muted-foreground);

  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;

    --brand-foreground: var(--foreground);
  }
}

@layer default {
  @supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }
}

body {
  @apply bg-background text-foreground;
  @apply font-sans antialiased;
}

body {
  &,
  & * {
    @apply transition-property-colors transition-duration-150 transition-ease-in-out;
  }
}

#app {
  @apply min-w-screen min-h-screen;

  *:focus-visible {
    /* Get rid of !important; */
    @apply outline-none ring-2 ring-ring;
  }
}

/* Sigh */
* {
  @apply border-border;
}

/* Figure out this... */
a {
  @apply underline underline-offset-4;

  &:hover {
    @apply no-underline;
  }
}
