NODE_ENV=development

HOST=0.0.0.0
PORT=3100

# DB config
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=kameleon

DATABASE_HOST=0.0.0.0
DATABASE_PORT=5432

# App secrets
COOKIE_SECRET=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=